* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    margin-bottom: 0.7rem;
}

.box {
  padding: 3rem;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#username,
#password,#confirmpassword {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0rem;
  outline-color: blueviolet;
}

#login,#signup {
  display: block;
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.3rem 0;
  color: white;
  border:none;
  background-color: blueviolet;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

p{
    margin: 0.5rem;
}
a{
    font-size: 1.3rem;
}

.alert{
  display: block;
  width: 100%;
  margin: 0.4rem 0rem;
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.3rem 0rem;
  text-align: center;
  border-radius: 5px;
}
